 dev
.vscode
.theia
.idea
.devcontainer
.DS_Store
node_modules

# github
.github

# test
spec
src/*.spec.ts
.nyc_output
.nycrc.json
test.ts


# karma
karma.conf.js

# build
rollup.config.js

# typescript
tsconfig.json
tsconfig.spec.json
